*{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   box-sizing: border-box;

} 
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0,0.75),rgba(0, 0, 0, 0.75)), url(hbackground.jpg);
    background-position: center;
    background-size: cover;
}
.navbar{
    width: 85%;
    padding: 32px ;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 120px;
    cursor: pointer;
    background: transparent;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;

}
.navbar ul li::after{
    content: '';
    height: 3px;
    left: 0;
    bottom: -10px;
    width: 0;
    background: gold;
    position: absolute;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform:translate(0,-50%);
    color: floralwhite;
}
.content h1{
    font-size: 52px;
    margin: top 80px;  
}
.content p{
    margin: 20px;
   font-weight: 100;
   line-height: 25px;
}
button{
    width: 200px;
    padding: 30px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    border: 2px solid gold;
    font-weight: bold;
    background: transparent;
    color: ghostwhite;
    cursor: pointer;
    position: relative;
    overflow: hidden;
 
}
span{
    background: gold;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}